<%- include('./templates/head.ejs') %>
<%- include('./templates/navbar') %> 

    <div class="container">

        <h1>Welcome to the activities site!</h1>
        <div>
            <h3><%= activity %> </h3>

        </div>

        <p>The type is <%= type %> </p>
        <ul>
            <li>participants : <%= participants %> </li>
            <li>price : <%= price %> </li>
            <li>Its key id : <%= key %> </li>
            <li>accessibiliy  : <%= accessibility %> </li>
        </ul>
        
    </div>

    
</body>
</html>